<%- include("../partials/head.ejs",{title:"CapaHelp- Update Department"}) %>
    <%- include("../partials/adminHeaderLinks.ejs") %>
        <link rel="icon" sizes="32x32" type="jpg/png" href="/public/img/logo.png">
        <link rel="stylesheet" href="/public/styles/User/nav.css">
        <link rel="stylesheet" href="/public/styles/Admin/adminUpdateDepartment.css">
        <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
        <script src="https://kit.fontawesome.com/edd6b66792.js" crossorigin="anonymous"></script>
        <script defer src="https://kit.fontawesome.com/96a70be8ea.js" crossorigin="anonymous"></script>
        </head>

        <body>
            <main class="ticket-main create-main">
                <%- include("../partials/Admin/adminHeader.ejs")%>
                    <div class="hero solution-hero ticket-hero">
                        <p class="solutions-top ticket-top">
                            <span><a href="/admin/dashboard">Home</a></span> > <a href="/admin/manage/department">Manage
                                Dept</a>
                        </p>
                        <h1 class="hero-title create-title">Department</h1>
                        <div class="error-plane">
                            <%- include("../partials/messages.ejs")%>

                        </div>


                        <form id="updateTicketForm">


                            <div class="form-box">
                                <label for="dept_name">Department name <span>*</span></label>

                                <input title="This field is readonly" type="text" id="dept_name" name="dept_name"
                                    value="<%= departmentInfo.dept_name %>">
                            </div>

                            <div class="form-box">
                                <label for="agentId">Head Agent </label>


                                <input type="text" name="head_agent" id="headAgent"
                                    value="<%= departmentInfo.head_agent %>">
                            </div>

                            <div class="form-box">
                                <label for="email">Department email <span>*</span></label>

                                <input title="This field is readonly" type="email" id="email" name="email"
                                    value="<%= departmentInfo.email %>">
                            </div>
                            <div class="selected__users ">

                            </div>
                            <div class="input__box">
                                <span class="input__details " for="gender">Members</span>
                                <div id="displayUsers">
                                    <span>
                                        <% if (deptMembers) { %>
                                            <% deptMembers.forEach(element=> { %>
                                                <span class="cancel__Icon" id="<%= element._id %>">
                                                    <li class="fa-solid fa-xmark deleteIcon "></li>
                                                    <%= element.first_name + " " + element.last_name %>
                                                </span>
                                                <% }) %>
                                                    <% } %>
                                    </span>
                                </div>
                                <select class="select" name="members" id="members" name="members"
                                    onchange="selected(this);">
                                    <option value="" selected disabled hidden>Select--</option>
                                    <% if (agents) { %>
                                        <% agents.forEach(element=> { %>
                                            <option value="<%= element._id %>">
                                                <%= element.first_name +" "+ element.last_name%>  </option>
                                <% }) %>
                               
                           
                           <% }else{ %>
                            <option value="" selected disabled hidden>  Select </option>
                            <% } %>  


                        </select>
                    </div>
                    <div class=" input__box">
                                                    <span class="input__details " for="gender">Status</span>
                                                    <select class="select" name="status" id="status" name="status">
                                                        <option
                                                            value="<%= departmentInfo? departmentInfo.active === true? 'active':'inactive' : '' %>"
                                                            selected disabled hidden>
                                                            <%= departmentInfo? departmentInfo.active===true ? 'active'
                                                                :'inactive' : '' %>
                                                        </option>
                                                        <option value="activate">activate</option>
                                                        <option value="deactivate">deactivate</option>


                                                    </select>
                            </div>


                            <div class="hero-toggles create-toggles" id="btn-section">
                                <a href="/admin/dashboard" style="text-decoration: none;">

                                    <div class="view">
                                        <!-- <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span> -->
                                        Cancel
                                    </div>
                                </a>

                                <!-- <input type="submit" value="ca" id="submitBtn" /> -->
                                <button id="submitBtn" type="submit" class="has-spinner">
                                    <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>Update</button>

                                <!-- <div class="create" id="">
                            <a>Submit</a>
                        </div> -->
                            </div>

                        </form>
                    </div>
            </main>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script>
                const getMembers = JSON.parse('<%- JSON.stringify(deptMembers) %>');

            </script>
            <script src="/public/script/Admin/adminUpdateDepartment.js"></script>
        </body>

        </html>