<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/public/styles/User/userGlobal.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css"
        integrity="sha384-z4tVnCr80ZcL0iufVdGQSUzNvJsKjEtqYZjiQrrYKlpGow+btDHDfQWkFjoaz/Zr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/styles/Admin/adminCreateUser.css" type="text/css">
    <script defer src="https://kit.fontawesome.com/96a70be8ea.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- Registration Form -->
    <div>
        <%- include("../partials/Admin/adminHeader.ejs",{user:undefined}) %>
    </div>


    <div class="container">
        <div class="title">Registration</div>

        <!-- <%- include("../partials/messages.ejs") %> -->
        <div class="error-plane">

        </div>
        <!-- action="/admin/register" method="POST" -->
        <form id="createUserForm">
            <div class="user__details">
                <div class="input__box">
                    <span class="details">First Name</span>
                    <input type="text" placeholder="E.g: John " id="first_name" name="first_name" <%=typeof first_name
                        !='undefined' ? first_name : '' %>>
                </div>
                <div class="input__box">
                    <span class="details">Last Name</span>
                    <input type="text" placeholder="Baba" id="last_name" name="last_name" <%=typeof last_name
                        !='undefined' ? last_name : '' %>>
                </div>
                <div class="input__box">
                    <span class="details">Email</span>
                    <input type="email" placeholder="john@hotmail.com" id="email" name="email" <%=typeof email
                        !='undefined' ? email : '' %>>
                </div>
                <div class="input__box">
                    <span class="details">Phone Number</span>
                    <input type="tel" id="phone" , name="phone" placeholder="012-345-6789" <%=typeof phone !='undefined'
                        ? phone : '' %>>
                </div>
                <div class="input__box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="********" required id="password" name="password" <%=typeof
                        password !='undefined' ? password : '' %>>
                </div>
                <div class="input__box">
                    <span class="details">Confirm Password</span>
                    <input type="password" placeholder="********" id="confirmPassword" name="confirmPassword" <%=typeof
                        confirmPassword !='undefined' ? confirmPassword : '' %>>
                </div>
                <div class="input__box">
                    <span class="details " for="countries">Country</span>
                    <select class="select" id="location" name="location" required>
                        <option value="">Select country</option>
                        <%- include("../partials/countries.ejs") %>
                    </select>
                    <!-- <input type="select" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="012-345-6789" required> -->
                </div>
                <!-- 

                 -->
                <div class="input__box">
                    <span class="details " for="gender">Gender</span>
                    <select class="select" name="gender" id="gender" name="gender" required>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Prefer not to say</option>

                    </select>
                    <!-- <input type="select" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="012-345-6789" required> -->
                </div>

                <div class="input__box">
                    <span class="details " for="role">User Role</span>
                    <select class="select" name="role" id="role" name="role" required>
                        <option value="admin">admin</option>
                        <option value="agent">agent</option>
                        <option value="customer">customer</option>

                    </select>
                    <!-- <input type="select" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="012-345-6789" required> -->
                </div>
            </div>

            <div class="button">

                <button id="inputButton" class="has-spinner" type="submit"> <span class="spinner"><i
                            class="fa fa-refresh fa-spin"></i></span>create
                    user</button>
            </div>
            <div class=" signup_link">
                <a href="/dashboard">Go To Dashboard</a>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <script>
        function showMessage(msg, success) {

            if (success) {
                return (
                    `
                <div class="alert alert-success alert-dismissible fade show " role="alert"
                style="height: 3rem; padding: 0 1.6rem  0 0.5rem ;  ">
                    <h6 style="font-size:0.9rem;" class="text-center">
                        ${msg}
                    </h6>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="width:1rem">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                `
                )
            } else {
                return (`   
                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                style="height: 3rem; padding: 0 1.6rem  0 0.5rem ;  ">
                    <h6 style="font-size:0.9rem;"  class="text-center">
                            ${msg}
                    </h6>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                     style="width:1rem">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                `)
            }
        }
        const formElem = document.getElementById("createUserForm");
        const firstNameElem = document.getElementById("first_name");
        const lastNameElem = document.getElementById("last_name");
        const emailElem = document.getElementById("email");
        const phoneElem = document.getElementById("phone");
        const passwordElem = document.getElementById("password");
        const confirmPasswordElem = document.getElementById("confirmPassword");
        const genderElem = document.getElementById("gender");
        const roleElem = document.getElementById("role");
        const locationElem = document.getElementById("location");
        const inputButtonElem = document.getElementById("inputButton");
        //error message container

        const errorPlaneElem = document.querySelector(".error-plane");
        //spinner element
        const spinnerElem = document.querySelector(".spinner");
        spinnerElem.style.display = "none";
        formElem.addEventListener("submit", (event) => {
            console.log({
                firstNameElem: firstNameElem.value,
                lastNameElem: lastNameElem.value,
                emailElem: emailElem.value,
                phoneElem: phoneElem.value,
                passwordElem: passwordElem.value,
                confirmPasswordElem: confirmPasswordElem.value,
                genderElem: genderElem.value,
                roleElem: genderElem.value,
                location: locationElem

            })

            event.preventDefault();
            fetch("/admin/register", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    'Accept': 'application/json'
                },
                body: JSON.stringify({
                    first_name: firstNameElem.value,
                    last_name: lastNameElem.value,
                    email: emailElem.value,
                    phone: phoneElem.value,
                    password: passwordElem.value,
                    confirmPassword: confirmPasswordElem.value,
                    gender: genderElem.value,
                    user_type: genderElem.value,
                    location: locationElem
                })

            }).then(response => {
                console.log(response);

                if (!response) {
                    errorPlaneElem.innerHTML = showMessage("Sorry,Something Went Wrong!", false);

                } else {

                    return response.json();
                }
            }).then(data => {
                console.log(data);
                if (data) {

                    errorPlaneElem.innerHTML = showMessage(data.msg, data.success);
                    inputButtonElem.disabled = false;
                    spinnerElem.style.display = "none";
                    errorPlaneElem.scrollIntoView({ behavior: "smooth" });

                } else {
                    inputButtonElem.disabled = false;
                    spinnerElem.style.display = "none";
                    errorPlaneElem.innerHTML = showMessage("Sorry,Something Went Wrong!", false);
                    errorPlaneElem.scrollIntoView({ behavior: "smooth" });
                }
            }).catch(error => {
                console.log(error.message);
                if (error) {
                    inputButtonElem.disabled = false;
                    spinnerElem.style.display = "none";
                    errorPlaneElem.innerHTML = showMessage(error.msg, false);
                    errorPlaneElem.scrollIntoView({ behavior: "smooth" });

                }
            })
        })

    </script>
</body>

</html>