<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="/public/img/logo.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css"
        rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/styles/User/userGlobal.css">
    <link rel="stylesheet" href="/public/styles/footer.css">
    <link rel="stylesheet" href="/public/styles/Admin/tickets.css">
    <link rel="stylesheet" href="/public/styles/Admin/ticketTable.css">

    <!-- fontawesome cdn link -->
    <script src="https://kit.fontawesome.com/edd6b66792.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include("../partials/Admin/adminHeader.ejs") %>
        <main>

            <h1 class="h1_tickets">Tickets</h1><br>

            <section class="card-section">
                <div id="root">
                    <div class="container pt-5">
                        <div class="row align-items-stretch">
                            <div class="c-dashboardInfo col-lg-3 col-md-6">
                                <div class="wrap">
                                    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                                        Total Tickets<i class="fa-solid fa-users margin-icon"></i></h4><span
                                        class="hind-font caption-12 c-dashboardInfo__count">
                                        <%= 45 %>
                                    </span>
                                    <span class="hind-font caption-12 c-dashboardInfo__subInfo ">Statistics:

                                        <span class="add text-success">
                                            <%= 4 %>
                                        </span>
                                        <span class="drop text-danger">

                                            <%= 3 %>

                                        </span>

                                    </span>
                                    <!-- <span class="hind-font caption-12 c-dashboardInfo__subInfo">Last month:
                                        +30</span> -->

                                </div>
                            </div>
                            <div class="c-dashboardInfo col-lg-3 col-md-6">
                                <div class="wrap">
                                    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                                        No.
                                        Of Admin<i class="fa-solid fa-user-shield margin-icon"></i></h4><span
                                        class="hind-font caption-12 c-dashboardInfo__count ">
                                        <%= 4 %>
                                    </span>
                                    <span class="hind-font caption-12 c-dashboardInfo__subInfo ">Statistics:

                                        <span class="add text-success  ">
                                            <%= 45 %>
                                        </span>
                                        <span class="drop text-danger ">

                                            <%= 7%>

                                        </span>

                                    </span>

                                </div>
                            </div>
                            <div class="c-dashboardInfo col-lg-3 col-md-6">
                                <div class="wrap">
                                    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                                        No. Of Tickets<i class="fa-solid fa-users-rays margin-icon"></i></h4><span
                                        class="hind-font caption-12 c-dashboardInfo__count">
                                        <%= 34 %>
                                    </span>
                                    <span class="hind-font caption-12 c-dashboardInfo__subInfo">Statistics:

                                        <span class="add text-success  ">
                                            <%= 4 %>
                                        </span>
                                        <span class="drop text-danger ">

                                            <%= 7 %>

                                        </span>

                                    </span>

                                </div>
                            </div>
                            <div class="c-dashboardInfo col-lg-3 col-md-6">
                                <div class="wrap">
                                    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                                        No
                                        Of Agents<i class="fa-solid fa-user-tie margin-icon "></i></h4><span
                                        class="hind-font caption-12 c-dashboardInfo__count">
                                        <%= 5 %>
                                    </span>
                                    <span class="hind-font caption-12 c-dashboardInfo__subInfo">Statistics:

                                        <span class="add text-success  ">
                                            <%= 5 %>
                                        </span>
                                        <span class="drop text-danger ">

                                            <%= 4 %>

                                        </span>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <%- include("../partials/Admin/ticketsTable.ejs")%>

                <!-- <div class="info">
                <div class="all h3" id="ticketsLink" data-url='/admin/ticket/list'>
                    <h3>All</h3>
                </div>
                <div class="all" id="activeTicketLink" data-url='/admin/ticket/list/active'>
                    <h3>Active</h3>
                </div>
                <div class="all" id="cancelledTicketsLink" data-url='/admin/ticket/list/cancelled'>
                    <h3>Cancelled</h3>
                </div>
                <div class="all" id="resolvedTicketsLink" data-url='/admin/ticket/list/resolved'>
                    <h3>Resolved</h3>
                </div>
                <div class="all" id="inProgressTicketLink" data-url='/admin/ticket/list/inProgress'>
                    <h3>In Progress</h3>
                </div>
                <div class="all" id="pendingTicketsLink" data-url='/admin/ticket/list/pending'>
                    <h3>Pending</h3>
                </div>
            </div><br> -->


        </main>
        <%- include("../partials/footer.ejs")%>
            <script src="/public/script/Admin/ticket.js"></script>
            <script src="/public/script/Admin/hanburger.js"></script>
</body>

</html>