<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" type="image/x-icon" href="/public/img/logo.png">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css"
        integrity="sha384-z4tVnCr80ZcL0iufVdGQSUzNvJsKjEtqYZjiQrrYKlpGow+btDHDfQWkFjoaz/Zr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/styles/register.css" type="text/css">
</head>

<body>
    <!-- Registration Form -->



    <div class="container">
        <div class="title">Registration</div>


        <%- include("partials/messages"); %>
            <form action="/user/register" method="POST">
                <div class="user__details">
                    <div class="input__box">
                        <span class="details">First Name</span>
                        <input type="text" placeholder="E.g: John " id="first_name" name="first_name" <%=typeof
                            first_name !='undefined' ? first_name : '' %>>
                    </div>
                    <div class="input__box">
                        <span class="details">Last Name</span>
                        <input type="text" placeholder="Baba" id="last_name" name="last_name" <%=typeof last_name
                            !='undefined' ? last_name : '' %>>
                    </div>
                    <div class="input__box">
                        <span class="details">Email</span>
                        <input type="email" placeholder="john@hotmail.com" id="email" name="email" <%=typeof email
                            !='undefined' ? email : '' %>>
                    </div>
                    <div class="input__box">
                        <span class="details">Phone Number</span>
                        <input type="tel" id="phone" , name="phone" placeholder="012-345-6789" <%=typeof phone
                            !='undefined' ? phone : '' %>>
                    </div>
                    <div class="input__box">
                        <span class="details">Password</span>
                        <input type="password" placeholder="********" required id="password" name="password" <%=typeof
                            password !='undefined' ? password : '' %>>
                    </div>
                    <div class="input__box">
                        <span class="details">Confirm Password</span>
                        <input type="password" placeholder="********" id="confirmPassword" name="confirmPassword"
                            <%=typeof confirmPassword !='undefined' ? confirmPassword : '' %>>
                    </div>
                    <div class="input__box">
                        <span class="details " for="countries">Country</span>
                        <select class="select" id="location" name="location" required>
                            <option value="">Select country</option>
                            <%- include("./partials/countries.ejs") %>
                        </select>
                        <!-- <input type="select" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="012-345-6789" required> -->
                    </div>
                    <!-- 

                 -->
                    <div class="input__box">
                        <span class="details " for="gender">Gender</span>
                        <select class="select" name="gender" id="gender" name="gender" required>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Prefer not to say</option>

                        </select>
                        <!-- <input type="select" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="012-345-6789" required> -->
                    </div>
                </div>

                <div class="button">
                    <input type="submit" value="Register">
                </div>
                <div class="signup_link">
                    Registered ? <a href="/login">Login</a>
                </div>
            </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>