<%- include("./partials/head.ejs",{title:"CapaHelp- resetPassword"}) %>
    <%- include("./partials/userHeaderLinks.ejs") %>
        <link rel="icon" sizes="32x32" type="jpg/png" href="/public/img/logo.png">
        <link rel="stylesheet" href="/public/styles/User/nav.css">
        <link rel="stylesheet" href="/public/styles/resetPassword.css">
        <script src="https://kit.fontawesome.com/edd6b66792.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css"
            integrity="sha384-z4tVnCr80ZcL0iufVdGQSUzNvJsKjEtqYZjiQrrYKlpGow+btDHDfQWkFjoaz/Zr" crossorigin="anonymous">
        </head>

        <body>
            <div>
                <% if (user.user_type===3) { %>
                    <%- include("./partials/Admin/adminHeader.ejs") %>

                        <% } else{%>

                            <%- include("./partials/User/userHeader.ejs") %>
                                <% } %>

            </div>
            <main class="reset-container">
                <div class="container" style="margin-top: 40px;">
                    <div class="row">
                        <div class="">
                            <div class="horizontal-container">

                                <div class="horizontal-form-box">
                                    <div class="horizontal-info-container text-center">
                                        <div class="name__container">

                                            <div class="">
                                                <p class="user__abbr clickable2 profile-clickable">
                                                    <%= user? user.first_name.charAt(0).toUpperCase() + "" +
                                                        user.last_name.charAt(0).toUpperCase():"EO" %>
                                                </p>
                                            </div>
                                        </div>
                                        <p class="horizontal-heading">Reset your password</p>
                                        <!-- <%- include("./partials/messages.ejs") %> -->
                                        <div class="horizontal-subtitle ">
                                        </div>
                                    </div>
                                    <form class="horizontal-form" id="form">
                                        <!-- <input type="hidden" name="_method" value="patch"> -->
                                        <div class="txt_field">

                                            <input type="password" id="oldPassword" name="oldPassword" />
                                            <span></span>
                                            <label>Old Password</label>
                                            <div class="toggleView">
                                                <i class="fa-solid fa-eye-slash"></i>
                                            </div>
                                        </div>

                                        <div class="txt_field">

                                            <input type="password" id="newPassword" name="newPassword" />
                                            <span></span>
                                            <label>New Password</label>
                                            <div class="toggleView">
                                                <i class="fa-solid fa-eye-slash"></i>
                                            </div>

                                        </div>
                                        <div class="txt_field">

                                            <input type="password" id="confirmPassword" name="confirmPassword" />
                                            <label>Confirm New Password</label>
                                            <div class="toggleView">
                                                <i class="fa-solid fa-eye-slash"></i>
                                            </div>
                                        </div>
                                        <div class="resetPassActionBtns">
                                            <div class="view" id="cancelBtn">
                                                <a style="text-decoration: none;">Cancel</a>
                                            </div>
                                            <!-- <input type="submit" value="cancel" id="cancelBtn" /> -->
                                            <input type="submit" value="Update" id="submitBtn" />
                                        </div>

                                        <!-- <button class="o3-btn o3-btn-primary o3-btn-block">Set new password</button> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                crossorigin="anonymous"></script>

            <script>






                function showError(data) {
                    return (`   
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
            style="height: 3rem; padding: 0 1.6rem  0 0.5rem ;  ">
                <p style="font-size:0.7rem;" class="text-center">
                        ${data}
                </p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                 style="width:1rem">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            `)
                }
                const oldPasswordElem = document.getElementById("oldPassword");
                const newPasswordElem = document.getElementById("newPassword");
                const confirmPasswordElem = document.getElementById("confirmPassword");
                const showIcon = document.querySelectorAll(".toggleView");


                //cancel button
                const cancelBtnElem = document.getElementById("cancelBtn");
                //add event listener
                cancelBtnElem.addEventListener("click", (event) => {
                    location.href = "/"
                })
                showIcon[0].addEventListener("click", () => {
                    showPassword(oldPasswordElem, 0)

                })
                showIcon[1].addEventListener("click", () => {
                    showPassword(newPasswordElem, 1)
                })
                showIcon[2].addEventListener("click", () => {
                    showPassword(confirmPasswordElem, 2)
                })
                let password = false

                const showPassword = (input, idx) => {
                    if (password) {

                        input.setAttribute("type", "text")
                        showIcon[idx].innerHTML = '<i class="fa-solid fa-eye"></i>'

                    } else {
                        input.setAttribute("type", "password")
                        showIcon[idx].innerHTML = '<i class="fa-solid fa-eye-slash"></i>'


                    }
                    password = !password
                }
                const formElem = document.querySelector("#form");
                const submitBtn = document.querySelector("#submitBtn");
                submitBtn.addEventListener("click", function (event) {
                    event.preventDefault();
                    console.log(oldPasswordElem.value, newPasswordElem.value, confirmPasswordElem.value)


                    fetch("/password/reset", {
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
                        method: "PATCH",

                        body: JSON.stringify({
                            oldPassword: oldPasswordElem.value,
                            newPassword: newPasswordElem.value,
                            confirmPassword: confirmPasswordElem.value,
                        })
                    }).then(response => {
                        console.log(response);
                        if (response.redirected) {
                            location.href = "/login"
                        }
                        return response.json()


                    }).then(data => {
                        if (data.error) {
                            document.querySelector(".horizontal-subtitle").innerHTML = showError(data.msg)
                        }
                        console.log(data);
                    }).catch(error => {
                        console.log(error.message)
                    })
                    console.log("this is a form submit")
                })

            </script>
        </body>

        </html>