<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="ticket.css">
    <script src="https://cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->
    <!-- <script src="../../ckeditor/ckeditor.js"></script> -->

</head>

<body>
    <main>
        <div class="job">
            <section class="section1">
                <div>
                    <h3><span style="color: #37A45C;">Tickets</span> > #CAPA-3</h3>
                </div>
                <div class="top">
                    <h1><%= title%></h1>
                    <p>Created on Wednesday, <%= time%></p>
                    <span style="background-color: #FBE5AB; font-size: 12px;" class="span"><%= status%>
            </section><br>

            <% conversation.forEach((item)=>{%>
                <% function timeSince(date) {%>
                    <%var seconds = Math.floor((new Date() - date) / 1000);%>
                    <%var interval = seconds / 31536000;%>
                  
                    <%if (interval > 1) {%>
                      return Math.floor(interval) + " years";%>
                    <%}%>
                    <%interval = seconds / 2592000;%>
                    <%if (interval > 1) {%>
                    <%  return Math.floor(interval) + " months";%>
                    <%}%>
                    <%interval = seconds / 86400;%>
                    <%if (interval > 1) {%>
                    <%  return Math.floor(interval) + " days";%>
                    <%}%>
                    <%interval = seconds / 3600;%>
                    <%if (interval > 1) {%>
                    <%  return Math.floor(interval) + " hours";%>
                    <%}%>
                    <%interval = seconds / 60;%>
                    <%if (interval == 1) {%>
                        <%  return Math.floor(interval) + " minute";%>
                        <%}%>
                    <%if (interval > 1) {%>
                    <%  return Math.floor(interval) + " minutes";%>
                    <%}%>
                    <%return Math.floor(seconds) + " seconds";%>
                  <%}%>
                <% if(item.chat_type == loggedOn){ %>
                <section class="section2 right">
                    <div class="part2 eo">
                        <% const matches = item.name.match(/\b(\w)/g).join(''); %>
                        <h1><%= matches %></h1>
                    </div>
                    <div class="part2 section2_text">
                        <div class="posted">
                            <h1><%= item.name%></h1>
                            <%const fun = timeSince(item.createdAt);%>
                                  <p id="time-labels">Posted <%= fun %> ago</p>
                        </div>
                        <p><%- item.description %></p><br>
                        <p>1 attachment (Scanned for viruses)</p>
                        <!-- <div class="mai-tea">
                            <h1>Mai Tea Herbals Document.docx</h1>
                            <p>(368.67KB)</p>
                        </div> -->
                    </div>
                </section><br>
                <%}else{%>
                <section class="section2 left">
                    
                    <div class="con">
                        <div class="part2 section2_text right">
                            <div class="posted right">

                               
                                  <%const fun = timeSince(item.createdAt);%>
                                  <p id="time-labels">Posted <%= fun %> ago</p>
                                <h1><%= item.name%></h1>
                            </div>
                            <p><%- item.description %></p><br>
                            <p>1 attachment (Scanned for viruses)</p>
                            <!-- <div class="mai-tea">
                                <h1>Mai Tea Herbals Document.docx</h1>
                                <p>(368.67KB)</p>
                            </div> -->
                    </div>
                    </div>
                    <div class="part2 eo">
                        <% const matches = item.name.match(/\b(\w)/g).join(''); %>
                        <h1><%= matches %></h1>
                    </div>
                </section><br>
                <%}%>
            <%})%>
           

            <section class="section3">
                <div class="part2 eo">
                    <% const matches = fullname.match(/\b(\w)/g).join(''); %>
                        <h1><%= matches %></h1>
                </div>
                <div class=" section2_text">
                    <form action="/chat" method="post">
                        <label for="editor" style="font-weight: bold;">Reply</label><br>
                        <textarea name="editor" id="editor" cols="60" rows="20" placeholder="Please Input a Description"></textarea>
                        <label style="font-size:15px;"><span style="color: #37A45C; font-weight: bold;">Attach a File</span> <span>(File < 35mb)</span></label>
                        <button class="submit-btn" type="submit" name="ticketId" value="<%= ticketId %>">Submit</button>


                    </form>

                </div>
            </section>
        </div>
    </main>
    
    
    <script >
        CKEDITOR.replace("editor");
    </script>

</body>

</html>