<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        CapaHelp- Tickets
    </title>
    <!-- TODO: work on this global css -->

    <link rel="stylesheet" href="/public/styles/User/userGlobal.css">

    <script src="https://kit.fontawesome.com/9f1f230ebc.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/public/img/logo.png">
    <!-- separate css files -->
    <link rel="stylesheet" href="/public/styles/User/nav.css">
    <!-- tickets css -->
    <link rel="stylesheet" href="/public/styles/User/tickets.css">
    <script defer src="https://kit.fontawesome.com/96a70be8ea.js" crossorigin="anonymous"></script>
    <script defer src="/public/script/User/tickets.js"></script>
    <script defer src="/public/script/User/hanburger.js"></script>
</head>

<body>
    <main class="ticket-main">
        <%- include("../partials/User/userHeader.ejs") %>

            <div class="hero solution-hero ticket-hero">
                <p class="solutions-top ticket-top">
                    <span><a href="/user">Home</a></span> > <a href="/user/tickets">Tickets</a>
                </p>
                <div class="ticket-toggles">


                    <div class="all active-ticket" id="activeTickets">all</div>

                    <div class="active">active</div>
                    <div class="canceled">canceled</div>
                    <div class="resolved">resolved</div>
                    <div class="progress">Progress</div>
                    <div class="pending">Pending</div>
                </div>
                <div class="ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="dashboard" id="style-2">

                    <% if (tickets.length>0) { %>
                        <% tickets.forEach(ticket=> { %>
                            <div class="track" onclick="window.location.href = '/user/view/ticket/<%= ticket._id %>'">
                                <input type="hidden" name="" id="ticketId" value="<%= ticket._id %>">
                                <div class="ids">
                                    <div class="ids-top">
                                        <h1>
                                            <%= ticket.title %>
                                        </h1>
                                        <p>TickedId: <%= ticket._id %>
                                        </p>
                                    </div>
                                    <div class="ids-bottom">
                                        <% var monthNames=[ "January" , "February" , "March" , "April" , "May" , "June"
                                            , "July" , "August" , "September" , "October" , "November" , "December" ];
                                            %>
                                            <% var d=ticket.createdAt.getDate(); var
                                                m=monthNames[ticket.createdAt.getMonth()]; var
                                                y=ticket.createdAt.getFullYear(); let
                                                hr=parseInt(ticket.createdAt.getHours()) ;let
                                                mins=ticket.createdAt.getMinutes() %>
                                                <%= d+ " " +m+ " " +y +" "+ (hr > 12 ? hr-12:hr)+ " :".trim()+mins+":"+(
                                                    hr>
                                                    12
                                                    ? " PM":"AM")%>
                                    </div>
                                </div>
                                <div class="track-info yellow">
                                    <%= ticket.ticket_status %>
                                </div>
                            </div>
                            <% }) %>
                                <% }else{ %>
                                    <div class="error__display">
                                        <h1>
                                            Nothing To Display
                                        </h1>
                                    </div>
                                    <% } %>
                </div>
            </div>
    </main>

    <script>
        var receivedTickets = '<%- JSON.stringify(tickets) %>';
        const parsedTickets = JSON.parse(receivedTickets);
        const ticketId = document.getElementById("ticketId");
    </script>


</body>

</html>